apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
  kubeletExtraArgs:
  - name: node-ip
    value: {{ hostvars[inventory_hostname]['ansible_host'] }}
discovery:
  bootstrapToken:
    token: {{ hostvars[groups['master'][0]].k8s_token }}
    caCertHashes:
    - "sha256:{{ hostvars[groups['master'][0]].k8s_ca_cert_hash }}"
    apiServerEndpoint: {{ control_plane_ip }}:6443
{% if inventory_hostname in groups['master'] %}
controlPlane:
  localAPIEndpoint:
    advertiseAddress: {{ control_plane_ip }}
    bindPort: 6443
  certificateKey: {{ hostvars[groups['master'][0]].k8s_cert_key }}
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: "systemd"
protectKernelDefaults: true
